<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">LL+</h1>
    </div>
    <h3>Welcome to LinkLocal</h3>
    <p></p>
    <div class="alert alert-info" align="left" [hidden]="errorHidden"><p class="text-danger">{{loginError}}</p></div>
    <form class="m-t" role="form">
      <div class="form-group">
        <input type="text" #username class="form-control" placeholder="Username/Email" required="">
      </div>
      <div class="form-group">
        <input type="password" #password class="form-control" placeholder="Password" required=""
               (keyup.enter)="login(username.value,password.value);password.value=password.value">
      </div>

      <button type="submit" class="btn btn-primary block full-width m-b"
              (click)="login(username.value,password.value);password.value=password.value">Login
      </button>

      <a href="#">
        <small>Forgot password?</small>
      </a>
      <p class="text-muted text-center">
        <small>Do not have an account?</small>
      </p>
      <a class="btn btn-sm btn-white btn-block" href="#/register">Create an account</a>
    </form>
    <p class="m-t">
      <small>Link Local framework base on Ngrok &copy; 2017</small>
    </p>
  </div>
</div>
